 <body>
  <h1>Chat Room</h1>

  <!-- チャットのタイムラインとかテキストボックスとか -->
  <div id="timeline" style="margin:20px;">
    <div id="chat" data-uri="<%= request.host %>:3001/websocket"></div>
  </div>

  <hr/>
  <div>
    <form class="form-horizontal">
      <input type="text" class="form-control" id="msgbody" />
      <input type="button" class="btn btn-primary" id="send" value="送信"/>
   </form>
  </div>
</body>
